# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment folder
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled Python files
*.pyo
